.Cart {
    margin-top: 5rem;
    min-height: 21rem;

    .products {
        // box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
    }

    .form {
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);

    }
}

.CartItem {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);

}